/* .TopHeader {
	margin-left: 350px;
	width: calc(100% - 350px);
} */
.Header {
	/* display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-direction: row; */
	color: #fff;
	background: #178bf6;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 15px;
}
.PageNotFound {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: #ffffff;
}
